  * {
    box-sizing: border-box;
  }

body {
    font-family: "Courier New", "Helvetica", sans-serif;
    background-color: honeydew;
    color: black;
}

img {
    height: 400px;
    width: auto;
    display: inline-block;
    vertical-align: top;
}

.description {
    display: inline-block;
    width: 70%;
}